layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    children
  }
  tab name="www" {
    pane split_direction="vertical" {
      pane {
        cwd "~/dev/beek/www"
      }
      pane {
        cwd "~/dev/beek/www"
      }
    }
  }
  tab name="player-www" {
    pane split_direction="vertical" {
      pane {
        cwd "~/dev/beek/player-www"
      }
      pane {
        cwd "~/dev/beek/player-www"
      }
    }
  }
  tab name="api" {
    pane split_direction="vertical" {
      pane {
        cwd "~/dev/beek/api"
        focus true
      }
      pane split_direction="horizontal" {
        pane {
          cwd "~/dev/beek/api"
        }
        pane {
          cwd "~/dev/beek/api"
        }
        pane {
          cwd "~/dev/beek/api"
        }
      }
    }
  }
}
