layout {
  tab name="app" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" {
      pane {
        cwd "~/dev/veinte/app"
      }
      pane {
        cwd "~/dev/veinte/app"
        command "yarn"
        args "dev"
        start_suspended true
      }
    }
  }
  tab name="api" {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" {
      pane {
        cwd "~/dev/veinte/api"
        command "~/dev/config/dotfiles/zellij/init.sh"
        focus true
      }
      pane split_direction="horizontal" {
        pane {
          cwd "~/dev/veinte/api"
          command "~/dev/config/dotfiles/zellij/init.sh"
        }
        pane {
          cwd "~/dev/veinte/api"
          command "~/dev/config/dotfiles/zellij/init.sh"
        }
        pane {
          cwd "~/dev/veinte/api"
          command "~/dev/config/dotfiles/zellij/init.sh"
        }
        pane {
          cwd "~/dev/veinte/api"
          command "~/dev/config/dotfiles/zellij/init.sh"
        }
      }
    }
  }
}
